nav, header, .barra, .contenedor, .central, footer, .Participantes {
    max-width: 100%;
    margin: auto;
    background-color: #005883;
}
nav {
    background-color: #f0b429;
}

header {
    background-color: white;
}

.barra {
    background-color: #005883;
}

.contenedor {
    background-color: white;
}

.Participantes{
    color: #f47934; 
}

.andrea{
    
    color: #E7B200; 
    display: inline-block;
    max-width: 65%;
}

.yilmar{
    color: #f47934; 
    display: inline-block;
    max-width: 65%;
}

.daniel{
    color: #E7B200; 
    display: inline-block;
    max-width: 65%;
}

.central {

    background-color: white;
    display: inline-block;
    max-width: 65%;
}

footer {
    background-color: #43C7F4;
}

aside {
    background-color: #F47920;
    display: inline-block;
    max-width: 27%;  
}