nav, header, .barra, .contenedor, .central, footer, aside {
    max-width: 90%;
    margin: auto;
}
nav {
    background-color: #f0b429;
}

header {
    background-color: white;
}

.barra {
    background-color: #005883;
}

.contenedor {
    background-color: white;
}

.central {

    background-color: white;
    display: inline-block;
    max-width: 100%;
}

footer {
    background-color: #43C7F4;
}

aside {
    background-color: #F47920;
    display: inline-block;
    max-width: 100%;
  
}